
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/css/Estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    
</head>
<body>
    <nav class="nav">
        <a href="@Url.Action("Mapa","Home")" class="menu-elemento">Inicio</a>
        <a href="@Url.Action("Contact","Home")" class="menu-elemento">Contacto</a>
        <a href="@Url.Action("SignUp","Menu")" class="menu-elemento active">Inicio de sesion</a>
    </nav>
    <div>
        <img src="~/Content/img/Logo2.png" alt="Logo de la marca" class="Logo">
    </div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="section2">
                <div class="d-flex justify-content-start form_container">
                    <!--Formulario del login-->
                    <form action="@Url.Action("Login","Menu")" method="post" id="Login">
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" name="Correo" class="form-control input_user" value="" placeholder="Correo" id="Correo">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="Contraseña" class="form-control input_pass" value="" placeholder="Contraseña" id="Contraseña">
                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert" id="alerta">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        <div class="alert alert-danger" role="alert" id="Error">
                            Se deben llenar los siguientes campos
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Iniciar sesion</button>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                <label class="ml-2">¿No tienes cuenta?</label>
                                <p><a href="@Url.Action("SignUp","Menu")" class="ml-2">Registrate</a></p>
                            </div>
                            <div class="links d-flex justify-content-center">
                                <p><a href="@Url.Action("CambiarContraseña","Menu")" class="ml-2">¿Has olvidado tu contraseña?</a></p>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#Error").hide();
        })
        $("#Login").validate({
            rules: {
                Correo: {
                    required: true,
                    email: true
                },
                Contraseña: {
                    required: true,
                }
            },
            messages: {
                Correo: '-El campo correo es obligatorio',
                Contraseña:'-El campo contraseña es obligatorio'
            },
            errorElement: 'div',
            errorLabelContainer:'#Error'
        })
    </script>
</body>
</html>
