
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reestablecer</title>
    <link rel="stylesheet" href="~/Content/css/Estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <nav class="nav">
        <a href="@Url.Action("Mapa","Home")" class="menu-elemento">Inicio</a>
        <a href="@Url.Action("Contact","Home")" class="menu-elemento">Contacto</a>
        <a href="@Url.Action("SignUp","Menu")" class="menu-elemento active">Inicio de sesion</a>
    </nav>
    <div>
        <img src="~/Content/img/Logo2.png" alt="Logo de la marca" class="Logo">
    </div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="section2">
                <div class="d-flex justify-content-start form_container">
                    <!--Formulario del login-->
                    <form action="@Url.Action("Reestablecer","Menu")" method="post" id="Reestablecer">
                        <div class="input-group mb-2">
                            <input type="hidden" name="id" value="@TempData["Correo"]">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-code"></i></span>
                            </div>
                            <input type="text" name="clave" class="form-control input_user">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="nuevacontra" class="form-control input_user">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="confirmar" class="form-control input_user">
                        </div>
                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger" role="alert" id="alerta">
                                @ViewBag.Error
                            </div>
                        }
                        <div class="alert alert-danger" role="alert" id="Error">
                            Se deben llenar los siguientes campos
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" name="button" class="btn login_btn">Actualizar</button>
                        </div>
                        <div class="mt-4">
                            <div class="d-flex justify-content-start links ml-4">
                                <a href="@Url.Action("Login","Menu")" class="ml-2">Regresar al login</a>
                            </div>
                            <div class="d-flex justify-content-start links ml-4">
                                <a href="@Url.Action("CambiarContraseña","Menu")" class="ml-2">Regresar a la anterior</a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#alerta").hide();
            $("#Error").hide();
        })
        $("#Reestablecer").validate({
            rules: {
                clave: {
                    required: true
                },
                nuevacontra: {
                    required: true,
                },
                confirmar: {
                    required: true,
                },
            },
            messages: {
                clave: '-El campo clave es obligatorio',
                nuevacontra: '-El campo nueva contraseña es obligatorio',
                confirmar: '-El campo confirmar contraseña es obligatorio'
            },
            errorElement: 'div',
            errorLabelContainer:'#Error'
        })
    </script>
</body>
</html>
